body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,button,input,textarea,th,td {margin: 0;padding: 0;}
body,button,input,select,textarea {font: 12px/1 Tahoma,Helvetica,Arial,"microsoft yahei",sans-serif; color:#333;}
h1 { font-size: 18px;}
h2 { font-size: 16px;}
h3 { font-size: 14px;}
h4,h5,h6 { font-size: 100%;}
ul,ol { list-style: none;}
a { color:#3366cc; text-decoration: none;}
a:hover { color:#37579e; text-decoration:none;}
img { border:0 none; vertical-align:middle;}
table {border-collapse: collapse;border-spacing: 0;}
td,th { border: 1px solid #ccc;}
input{vertical-align:middle;}
html {overflow-y: scroll;font-family: Arial,microsoft yahei;
    color: #333;}

header, nav, section, article, aside, footer { display: block;}
*{ box-sizing: border-box;}

.cf:before, .cf:after {content:"";display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}
.clear{width:0;height:0;clear:both;overflow:hidden;}


