<div class="hotelManage mainPart">
    <div class="page_title">
        <div class="rightBox">
            <!--<a href="#/userReview" class="btn btn-default btn-sm" >新增用户</a>-->
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">用户审核</a></li>
        </ul>
    </div>

    <div class="page_cont">

        <div class="orderTables">
            <table class="table">
                <thead>
                <tr>
                    <td width="100">名称</td>
                    <td width="50">负责人</td>
                    <td width="50">法人</td>
                    <td width="100">联系方式</td>
                    <td width="100">所在地址</td>
                    <td width="80">用户类型</td>
                    <td width="50">登记时间</td>
                    <td width="80">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="goUserReview()">
                    <td>温州大酒店</td>
                    <td>梁祥海</td>
                    <td>梁祥海</td>
                    <td>13333333333</td>
                    <td>温州市某路</td>
                    <td>酒店用户</td>
                    <td>2014.01.01 12:00:00</td>
                    <td>
                        <a href="">通过</a> |
                        <a href="">不通过</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="tFooter">
                <div class="pageOp">
                    <a href="" class="">首页</a>
                    <a href="">上一页</a>
                    <input type="txtBtn" class="textInput" />
                    <a href="">下一页</a>
                    <a href="">末页</a>
                </div>
                <div class="pageInfo">
                    <span>共1条数据</span>
                    <span>当前页数 1/1</span>
                </div>
            </div>
        </div>
        <!-- orderTables -->

    </div>
</div>