<div class="hotelManage mainPart">
    <div class="page_title">
        <div class="rightBox">
            <a href="#/albumCreate" class="btn btn-default btn-sm" >新增专题</a>
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">专题列表</a></li>
        </ul>
    </div>

    <div class="page_cont">

        <div class="orderTables">
            <table class="table">
                <thead>
                <tr>
                    <td width="">专题名称</td>
                    <td width="">图片</td>
                    <td width="">专题描述</td>
                    <td width="">状态</td>
                    <td width="">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>鱼的故事</td>
                    <td>
                        <img src="/resource/images/avatar.png" alt="" class="img"/>
                        <img src="/resource/images/avatar.png" alt="" class="img"/>
                    </td>
                    <td>大虾</td>
                    <td>已发布</td>
                    <td>
                        <a href="">撤回</a> |
                        <a href="">置顶</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="tFooter">
                <div class="pageOp">
                    <a href="" class="">首页</a>
                    <a href="">上一页</a>
                    <input type="txtBtn" class="textInput" />
                    <a href="">下一页</a>
                    <a href="">末页</a>
                </div>
                <div class="pageInfo">
                    <span>共1条数据</span>
                    <span>当前页数 1/1</span>
                </div>
            </div>
        </div>
        <!-- orderTables -->

    </div>
</div>