<div class="hotelDetail mainPart">
    <div class="page_title">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">头条内容详情</a></li>
        </ul>
    </div>

    <div class="page_cont">

        <div class="dataTable">
            <table class="table">
                <tbody>
                <tr>
                    <td>名称：温州大酒店</td>
                    <td>负责人：梁祥海</td>
                    <td>联系方式：13362801531</td>
                </tr>
                <tr>
                    <td>法人：梁祥海</td>
                    <td>酒店地址：西溪湿地</td>
                    <td>登记时间：2014.01.01  12:00:00</td>
                </tr>
                <tr>
                    <td colspan="3">酒店账号： 父帐号 1111111,子账号1 13333333334,子账号2 13333333334</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>企业资质:</strong>
                        <ul class="imgList cf">
                            <li><img src="/resource/images/avatar3.png" alt=""/></li>
                            <li><img src="/resource/images/avatar4.png" alt=""/></li>
                            <li><img src="/resource/images/avatar5.png" alt=""/></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- orderTables -->
    </div>
</div>