<div class="newHotel mainPart">
    <div class="page_title">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">新增头条</a></li>
        </ul>
    </div>

    <div class="page_cont newHotelPage">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-1 control-label">酒店名称</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 control-label">负责人</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">联系方式</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">法人</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>


            <div class="form-group">
                <label for="select" class="col-lg-1 control-label">酒店地址</label>
                <div class="col-lg-2">
                    <select class="form-control" id="select">
                        <option>请选择省份</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select class="form-control">
                        <option>请选择市/县</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select class="form-control">
                        <option>请选择区/镇/乡</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="请输入详细地址">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">联系方式</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">帐号数目</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label">企业资质</label>
                <div class="col-lg-3">
                    <input type="file" class="form-control" placeholder="上传附件">
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-1">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>