
<div class="orderPage">
    <div class="selectOrder cf">
        <input class="textInput" type="text" placeholder="开始时间"
               uib-datepicker-popup ng-model="form.startDate" is-open="popup"
               datepicker-options="dateOptions" ng-required="true" close-text="Close"
                ng-click="startDate()"/>


        <input class="textInput" type="text" placeholder="结束时间"
               uib-datepicker-popup ng-model="form.endDate" is-open="opened2"
               datepicker-options="dateOptions" ng-required="true" close-text="Close"
               ng-click="endDate()"/>


        <input class="textInput" type="text" placeholder=""/>

        <input class="subBtn" type="button" value="查询订单"/>
    </div>

    <div class="subMenu">
        <ul class="cf">
            <li class="on"><a href="">全部</a></li>
            <li><a href="">已关闭</a></li>
            <li><a href="">待付款</a></li>
            <li><a href="">待发货</a></li>
            <li><a href="">已完成</a></li>
        </ul>
    </div>

    <div class="orderTables">
        <table class="table">
            <thead>
                <tr>
                    <td width="150">订单号</td>
                    <td width="200">商品</td>
                    <td width="50">单价</td>
                    <td width="50">数量</td>
                    <td width="50">实付</td>
                    <td width="80">创建时间</td>
                    <td width="50">状态</td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>201604061305413285621</td>
                <td>卡西欧 casio时尚休闲防水女士</td>
                <td>22</td>
                <td>2</td>
                <td>44</td>
                <td>2016-04-06 11:17:38</td>
                <td>待付款</td>
            </tr>
            <tr>
                <td>201604061305413285621</td>
                <td>卡西欧 casio时尚休闲防水女士</td>
                <td>22</td>
                <td>2</td>
                <td>44</td>
                <td>2016-04-06 11:17:38</td>
                <td>待付款</td>
            </tr>
            </tbody>
        </table>
        <div class="tFooter">
            <div class="pageOp">
                <a href="" class="">首页</a>
                <a href="">上一页</a>
                <input type="txtBtn" class="textInput" />
                <a href="">下一页</a>
                <a href="">末页</a>
            </div>
            <div class="pageInfo">
                <span>共73条数据</span>
                <span>当前页数 1/3</span>
            </div>
        </div>
    </div>
</div>